<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/style.css" />
    <script defer src="action.js"></script>
    <title>Form</title>
  </head>
  <body>
    <div>
      <div>
        <form action="/login" method="POST">
          <input type="text" name="meetingId" required />
          <input type="submit" />
        </form>
      </div>
      <div>
        <form action="/login" method="POST">
          <button id="new-meeting">New Meeting</button>
        </form>
      </div>
    </div>
  </body>
</html>
